@model OperacionTupper3._0.Models.Ingredientes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ingredientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdIngrediente" />
            <div class="form-group">
                <label asp-for="NombreIngrediente" class="control-label"></label>
                <input asp-for="NombreIngrediente" class="form-control" />
                <span asp-validation-for="NombreIngrediente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoIngrediente" class="control-label"></label>
                <input asp-for="TipoIngrediente" class="form-control" />
                <span asp-validation-for="TipoIngrediente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatoIngredientesNavigation" class="control-label"></label>
                <input asp-for="PlatoIngredientesNavigation" class="form-control" />
                <span asp-validation-for="PlatoIngredientesNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
