@model IEnumerable<OperacionTupper3._0.Models.Ingredientes>

<h1 class="mb-4">Ingredientes</h1>

<div class="mb-4">
    <a asp-action="Create" class="boton_anadir">+ Añadir</a>
</div>

<div class="contenedor-tipos">
    @foreach (var grupo in Model.GroupBy(i => i.TipoIngredienteNavigation))
    {
        <div class="card-tipo">
            <div class="card-titulo">
                @grupo.Key.Nombre_TipoIngrediente
            </div>

            <div class="ingredientes-grid">
                @foreach (var ingrediente in grupo.OrderBy(i => i.Nombre_Ingrediente))
                {
                    <div class="ingrediente-item">
                        <span>@ingrediente.Nombre_Ingrediente</span>

                        <div class="acciones">
                            <a asp-action="Edit" asp-route-idingrediente="@ingrediente.Id_Ingrediente">✏️</a>
                            <a asp-action="Delete" asp-route-idingrediente="@ingrediente.Id_Ingrediente">🗑️</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>