@model OperacionTupper3._0.Models.PlatosConIngredientesVM


@{
    ViewData["Title"] = "Create";
}

<h1>Añadir plato</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Plato.Nombre_Plato" class="control-label">Nombre:</label>
                <input asp-for="Plato.Nombre_Plato" class="form-control" />
                <span asp-validation-for="Plato.Nombre_Plato" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Plato.Id_TipoPlato">Tipo:</label>
                <select asp-for="Plato.Id_TipoPlato" class="form-control" asp-items="ViewBag.Id_TipoPlato">
                    <option value="">-- Selecciona tipo de plato --</option>
                </select>
                <span asp-validation-for="Plato.Id_TipoPlato" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Plato.Id_HoraDelDia">Hora del día:</label>
                <select asp-for="Plato.Id_HoraDelDia" class="form-control" asp-items="ViewBag.Id_HoraDelDia">
                    <option value="">-- Selecciona hora del día --</option>
                </select>
                <span asp-validation-for="Plato.Id_HoraDelDia" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Plato.Descripcion_Plato" class="control-label">Descripción:</label>
                <input asp-for="Plato.Descripcion_Plato" class="form-control" />
                <span asp-validation-for="Plato.Descripcion_Plato" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input asp-for="Plato.PlatoUnico" class="form-check-input" />
                <label asp-for="Plato.PlatoUnico" class="form-check-label"></label>
            </div>
            <div class="form-group">
                <label>Ingredientes</label>

                @foreach (var grupo in Model.TodosLosIngredientes.GroupBy(i => i.TipoIngredienteNavigation.Nombre_TipoIngrediente))
                {
                    <h5>@grupo.Key</h5>

                    @foreach (var ingrediente in grupo)
                    {
                        <div class="form-check">
                            <input type="checkbox"
                                   name="IngredientesSeleccionados"
                                   value="@ingrediente.Id_Ingrediente" />

                            <label>@ingrediente.Nombre_Ingrediente</label>
                        </div>
                    }
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Añadir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>
