@model OperacionTupper3._0.Models.Platos

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Estas seguro de querer eliminar este plato?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Plato)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            Descripción:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion_Plato)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Plato" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
